/*header, nav começo.................... */

.navbar {
  /* estilo texto destaque h1 */
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--primary);
  border-bottom: 2px var(--support-2) solid;
}

.navbar div {
  text-align: center;
  align-items: center;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

/* Estilos da logo */
.logo {
  flex: 0 0 auto;
}

.logo a img {
  width: 50px;
  transition: transform 0.3s ease;
}

.logo a img:hover {
  transform: scale(1.2);
}

.zap {
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: all ease 0.3s;
}

.zap:hover {
  transform: scale(1.1);
}

/* Estilos do menu */
#menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

#btn-menu {
  display: none;
}

.menu li {
  text-align: center;
  font-size: 1rem;
  font-style: bold;
  line-height: 97.494%; /* 0.97494rem */
  letter-spacing: 0.055rem;

  padding: 0 2em;
  padding-top: 0.2em;
  margin-right: 0.4em;
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}

.menu li:last-child {
  padding: 0;
}

.menu li a {
  color: var(--support-2);
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: var(--weight3);
  text-transform: uppercase;
}

/* Efeito hover */
.menu li:hover {
  transform: scale(1.1);
}

.menu li:last-child:hover {
  transform: scale(1.05);
}

/* Conteudo incial intro ....................................  */
.intro {
  padding-top: 70px;
  height: 450px;
  background-image: url("../assets/imgs/fly.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.introContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro h1 {
  color: var(--support-2);
}

.intro span {
  border-bottom: #0e3c9a 8px solid;
  font-weight: bolder;
}

.intro h4 {
  max-width: 650px;
  color: var(--support-2);
}

/* Portfolio...................................................................  */

.portfolio {
  padding-top: 50px;
}

.portfolio a {
  text-decoration: none;
}

.containerPortfolio {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.cardsPortfolioTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardPortfolio {
  background-color: var(--primary-light);
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease 0.3s;
}

.cardPortfolio:hover {
  cursor: pointer;
  background-color: var(--support-3);
}

.cardPortfolio:hover h3 {
  background-size: 100% 3px;
}

.cardPortfolio img {
  width: 200px;
  text-align: center;
  /* border: 2px solid red; */
}

.cardPortfolio h3 {
  text-align: center;
  color: var(--primary);
  margin: 0px;
  padding: 0px;
  transition: all ease 0.4s;

  background-image: linear-gradient(90deg, var(--primary), var(--primary));
  background-repeat: no-repeat;
  background-size: 0% 3px;
  background-position: left bottom;
  transition: background-size 500ms ease;
  cursor: pointer;
}

.TitleDescriptPortfolio {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  padding-top: 80px;
}

.TitleDescriptPortfolio img {
  width: 45px;
  margin-right: 5px;
}

.TitleDescriptPortfolio p {
  margin: 0 4px;
}

.TitleDescriptPortfolio a {
  text-transform: capitalize;
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline var(--primary);
}

.HomeCardsPortfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CardDescriptPortfolio {
  background-color: var(--support-3);
  border-radius: 8px;
  padding: 5px;
  width: 350px;
  margin: 0;
  cursor: pointer;
  transition: all ease 0.3s;
  border: 1px solid var(--support-3);
}

.CardDescriptPortfolio:hover {
  background-color: var(--primary-light);
  border: 1px solid var(--primary);
}

.CardDescriptPortfolio h4 {
  color: var(--primary);
  margin: 0;
}

.CardDescriptPortfolio div {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.CardDescriptPortfolio > div > img {
  width: 130px;
}

.CardDescriptPortfolio div article {
  display: flex;
  flex-direction: column;
}

.CardDescriptPortfolio span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CardDescriptPortfolio span img:first-child {
  width: 58px;
}

.CardDescriptPortfolio span img {
  width: 50px;
  margin-right: 5px;
}

.CardDescriptPortfolio p {
  text-align: center;
  margin: 5px 0 0 0;
  color: var(--gray-1);
}

/* About sobre....................................................................................... */

.about {
  background-color: var(--primary-light);
  padding: 50px 0;
}

.about img {
  width: 150px;
  margin-right: 20px;
}

.about article {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
}

.about article > div > div > h2 {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  color: var(--gray-1);
}

.about article > div > h3 {
  margin: 0;
  padding: 0;

  color: var(--primary, #2b64d8);
}

.about article > div > div > p {
  margin: 0;
  padding: 0;
  color: var(--gray-1);
}

.about article > div > div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.about article > div > p:last-child {
  max-width: 600px;
  color: var(--gray-1);
}

.about article > div > p:last-child a {
  color: var(--primary);
  text-decoration: underline;
  text-transform: lowercase;
  cursor: pointer;
}

/* Qualificações skills.................................................................... */
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.skills a {
  text-decoration: none;
}

.skills article {
  background-color: var(--support-3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.5s;
}

.skills img {
  height: 100px;
  text-align: center;
  margin: 10px 20px;
}

.skills p {
  color: var(--primary);
  margin: 5px 0;
}

.skills article:hover {
  background-color: var(--support-4);
}

/* Duvidas Faq questions............................................................................... */

.questions {
  margin: 100px 0 50px 0;
}

.questions h4 {
  color: var(--gray-1);
  font-family: "Manjari";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.363%; /* 34.167px */
  letter-spacing: 0.48px;
}

.questions p {
  background-color: var(--primary-light);
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--support-4);
  color: var(--gray-1);
}

.questions a {
  text-transform: none;
  text-decoration: underline;
  color: var(--primary);
  cursor: pointer;
}

.questionsContent {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.questionsContent div:first-child {
  flex: 1;
}

.questionsContent div:last-child {
  flex: 1;
}

.questionsContent div form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.questionsContent div input {
  height: 20px;
}

.questionsContent div form span {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.questionsContent div form span input {
  width: 100%;
}

.questionsContent div form button {
  background-color: var(--primary);
  color: var(--support-2);
  text-transform: uppercase;
  padding: 6px 20px 0px 20px;
  border: solid 1px var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.questionsContent div form button:hover {
  background-color: var(--primary-dark);
  transform: translate(1.1);
}

.questionsContent div h3 {
  color: var(--gray-2);
  margin: 3px;
}

.questionsContent div:last-child a div {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.questionsContent div:last-child a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionsContent div:last-child a span {
  padding: 10px;
}

/* faq duvidas.................................................................................. */

.faq {
  margin: 10px 0;
  border-bottom: 2px solid var(--gray-1);
  padding: 0 5px;
}

.faq h4 {
  display: none;
  visibility: hidden;
}

.titleQuestion {
  color: var(--primary);
  background-color: var(--support-3);
  padding: 0 5px;
  border-radius: 8px;
  border-bottom: 2px solid var(--primary);
}

.titleQuestion h4 {
  display: block;
  visibility: visible;
}

/* pra cima */
/* .on{
  display: block;
  visibility: visible;
} */

/* contact contato.......................................................................... */

.contact > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.contact h2 {
  padding-top: 100px;
  text-align: center;
}

.contact h3 {
  color: var(--gray-1);
  font-weight: 400;
  margin: 0;
}

.contact button {
  background-color: var(--primary);
  color: var(--support-2);
  text-transform: uppercase;
  padding: 6px 20px 0px 20px;
  margin: 30px 0;
  border: solid 1px var(--primary);
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  transition: all ease 0.3s;
}

.contact button:hover {
  background-color: var(--primary-dark);
  transform: translate(1.1);
}

.contact > div > article {
  flex: 1;
  display: flex;
  justify-content: end;
}

.contact > div > article > img {
  width: 350px;
  height: 350px;
}

.contact > div > div {
  flex: 1;
}

.contact ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.contact ul li {
  list-style: none;
  transition: all ease 0.3s;
}

.contact ul li:hover {
  transform: scale(1.1);
}

.contact ul li img {
  width: 35px;
}

/* Footer.................................................................................  */
/* footer */
footer {
  text-align: left;
  background-color: var(--primary-light);
}

footer ul {
  padding: 40px 0 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}

footer ul li {
  list-style: none;
  color: var(--gray-2);
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

footer ul li a {
  text-decoration: none;
  color: var(--gray-2);
  transition: all ease 0.3s;
  margin: 5px 0;
  text-transform: uppercase;
}
footer ul li a:hover {
  cursor: pointer;
  color: var(--primary-dark);
  text-decoration: underline;
  text-transform: uppercase;
}

footer ul li:first-child {
  width: 30%;
}

footer h1 {
  color: var(--primary-dark);
  /* p */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.863%; /* 19.338px */
  letter-spacing: 0.08px;
}
footer a {
  color: var(--gray-2);
}

footer ul li img {
  height: 50px;
  padding-bottom: 10px;
}

/* sucess page....................................................................................; */

.success div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.success h2 {
  max-width: 500px;
  margin: 0;
}

.success img {
  height: 300px;
  margin: 0;
}

.success button {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--support-2);
  border-radius: 5px;
  padding: 10px 20px;
  padding-bottom: 8px;
  padding-top: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.success button:hover {
  font-weight: 500;
  background-color: var(--support-2);
  border: 2px solid var(--primary);
  color: var(--primary);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
}

/* detalhes de portfolios............................................................................... */

.containerPortfolioDetail {
  max-width: 800px;
  margin: 0 auto;
}

.portfolioDetail img {
  height: 100px;
  padding-top: 100px;
}

.portfolioDetail h3 {
  text-align: center;
  padding-top: 50px;

  color: var(--gray-2);
}

.portfolioDetail p {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  color: var(--gray-2);

  max-width: 600px;
}

.portfolioDetailTitle {
  display: flex;
  flex-direction: row;
}

.portfolioDetailTitle div {
  display: flex;
  flex-direction: row;
}

.portfolioDetailTitle > h2 {
  padding-top: 100px;
}

.titlePortfolio {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 80px 0 10px 0;
}

.titlePortfolio h3 {
  text-align: left;
  padding: 0;
  margin: 0;
}

.titlePortfolio span {
  display: block;
  height: 18px;
  width: 18px;
  margin: 0 8px 8px 0;
  border-radius: 3px;
  background-color: var(--primary);
  transform: rotateZ(45deg);
}

.portfolioDetailCard span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.portfolioDetailCard span div {
  display: flex;
  flex-direction: row;
}

.portfolioDetailCard p {
  text-align: left;
  margin: 0;
  padding: 0;
}

.portfolioDetailCard img {
  padding-top: 0;
}

.titlePortfolio2 {
  justify-content: end;
}

.portfolioDetailCard2 span {
  flex-direction: row-reverse;
}

.portfolioDetailCard2 p {
  text-align: right;
}

.PortfolioEndContent p {
  text-align: left;
  padding-top: 10px;
}

.PortfolioEndContent p a {
  color: var(--primary);
}

.PortfolioEndContent div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.PortfolioEndContent img {
  max-width: 400px;
  max-height: 500px;
}

.imgsUI img {
  height: 500px;
  width: auto;
}

.imgsMF img {
  height: auto;
  width: 400px;
}

.imgsMKT img {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

.PortfolioEndContent ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-direction: row;
  margin-bottom: 100px;
  align-items: center;
}

.PortfolioEndContent ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all ease 0.3s;
  align-items: center;
}

.PortfolioEndContent ul img {
  height: 100px;
  padding: 01;
}

.PortfolioEndContent ul li img {
  padding: 0px;
  margin: 0px;
}

.PortfolioEndContent ul a {
  text-decoration: none;
  color: var(--gray-1);
  transition: all ease 0.3s;
}

.PortfolioEndContent ul li:hover {
  text-decoration: underline var(--primary);
}
.PortfolioEndContent ul li a:hover {
  color: var(--primary);
}

/* termos de uso........................................ */

.Terms h3 {
  height: 6px;
  padding-top: 90px;
  margin-top: 0;
  color: var(--gray-2);
}

.Terms p {
  color: var(--gray-2);
  padding: 5px 0;
}

/* About sobre........................................................... */

.aboutThis {
  text-align: center;
}

.aboutThis img {
  height: 130px;
  margin: 20px 0;
}

.uiAbout p {
  max-width: 600px;
}

.aboutContainer {
  max-width: 600px;
  margin: 0 auto;
}

.aboutThis p {
  color: var(--gray-1);
}

.firstAboutThis {
  padding-top: 90px;
  margin: 0;
}

.uiAbout {
  padding: 8px;
  margin-top: 30px;
  background-color: var(--primary-light);
  border: var(--support-4) 1px solid;
  border-radius: 8px;
  margin-bottom: 50px;
  text-align: left;
}

.uiAbout > h2 > span {
  color: var(--primary);
}

.uiAbout h3 {
  margin: 0;
  padding: 0;
  color: var(--gray-2);
}

.uiAbout h5 {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin: 0;
  padding: 0;
  color: var(--gray-2);
}

.tipograifaAbout h4 {
  font-size: 90px;
  color: #06f301;
  font-family: "Inconsolata";
  font-weight: 600;
  margin: 0;
  padding: 0;
  height: 100px;
}

.tipograifaAbout div {
  text-align: right;
}

.tipograifaAbout div h4 {
  color: #608be2;
  font-family: "Manjari", "Gill Sans MT", Calibri, "Trebuchet MS";
}

.tipograifaAbout p {
  max-width: 550px;
  padding-top: 50px;
}

.spacingAbout {
  text-align: center;
}

.spacingAbout div {
  display: block;
  width: 2;
  height: 80px;
  margin: 0 49.8% 0 49.9%;
  background-color: var(--primary);
}

.spacingAbout span {
  display: block;
  /* width: 20px; */
  height: 50px;
  margin: 0px 47% 5px 47%;
  border: 2px solid #f317b0;
}

.spacingAbout p {
  max-width: 600px;
  margin: 0 auto;
}

.spacingAbout article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacingAbout article div {
  margin: 0;
  display: block;
  width: 100%;
  height: 0.1px;
  border-bottom: #f317b0 2px solid;
}

.paletteAbout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.paletteAbout p span {
  color: var(--primary);
}

.paletteAbout b {
  color: black;
}

.lastAbout {
  text-align: center;
  margin: 50px auto 10px auto;
}
