@import  '/styles/components.css';


/*header, nav começo.................... */

.navbar {
  /* estilo texto destaque h1 */
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--primary);
  border-bottom: 2px var(--support-2) solid;
}

.navbar div {
  text-align: center;
  align-items: center;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

/* Estilos da logo */
.logo {
  flex: 0 0 auto;
}

.logo a img {
  width: 50px;
  transition: transform 0.3s ease;
}

.logo a img:hover {
  transform: scale(1.2);
}

/* Estilos do menu */
#menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

#btn-menu {
  display: none;
}

.menu li {
  text-align: center;
  font-size: 1rem;
  font-style: bold;
  line-height: 97.494%; /* 0.97494rem */
  letter-spacing: 0.055rem;

  padding: 0 2em;
  padding-top: 0.2em;
  margin-right: 0.4em;
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}

.menu li:last-child {
  padding: 0;
}

.menu li a {
  color: var(--support-2);
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: var(--weight3);
}

/* Efeito hover */
.menu li:hover {
  transform: scale(1.1);
}

.menu li:last-child:hover {
  transform: scale(1.05);
}

/* Conteudo incial intro ....................................  */
.intro {
  padding-top: 70px;
  height: 450px;
  background-image: url("/assets/imgs/fly.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.introContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro h1{
  color: var(--support-2);
}

.intro span{
  border-bottom: #0e3c9a 8px solid;
  font-weight: bolder;
}

.intro h4{
  max-width: 650px;
  color: var(--support-2);
}

/* Portfolio...................................................................  */

.portfolio{
  padding-top: 50px;
}

.portfolio a{
  text-decoration: none;
}

.containerPortfolio{
  max-width: 800px;
  margin: 0 auto;
}

.cardsPortfolioTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.cardPortfolio{
  background-color: var(--primary-light);
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease .3s;
}

.cardPortfolio:hover{
  cursor: pointer;
  background-color: var(--support-3);
}

.cardPortfolio:hover h3{
  background-size: 100% 3px;
}

.cardPortfolio img{
  width: 200px;
  text-align: center;
  /* border: 2px solid red; */

}

.cardPortfolio h3{
  text-align: center;
  color: var(--primary);
  margin: 0px;
  padding: 0px;
  transition: all ease .4s;

  background-image: linear-gradient(90deg, var(--primary),var(--primary));
  background-repeat: no-repeat;
  background-size: 0% 3px;
  background-position: left bottom;
  transition: background-size 500ms ease;
  cursor:pointer;
}



.TitleDescriptPortfolio{
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  padding-top: 80px;

}

.TitleDescriptPortfolio img{
  width: 45px;
  margin-right: 5px;
}

.TitleDescriptPortfolio p{
  margin: 0 4px;
}

.TitleDescriptPortfolio a{
  text-transform: capitalize;
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline var(--primary);
}

.HomeCardsPortfolio{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.CardDescriptPortfolio{
  background-color: var(--primary-light);
  border-radius: 8px;
  padding: 5px;
  width: 350px;
  margin: 0;
}

.CardDescriptPortfolio h4{
  color: var(--primary);
}

.CardDescriptPortfolio div{
  display: flex;
  flex-direction: row;
}

.CardDescriptPortfolio > div > img{
  width: 130px;
}

.CardDescriptPortfolio div article{
  display: flex;
  flex-direction: column;
}

.CardDescriptPortfolio div article h4{
  margin: 0;
}


.CardDescriptPortfolio span{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CardDescriptPortfolio span img:first-child{
  width: 58px;
}

.CardDescriptPortfolio span img{
  width: 50px;
  margin-right: 5px;
}

.CardDescriptPortfolio p{
  text-align: center;
  margin: 5px 0 0 0 ;
}